ul.accordian-menu
{
	width: 100%;
	font-weight:bold;
}

ul.accordian-menu h2
{
	padding-left: 30px;
	padding-top: 6px;
	margin-bottom: 1em;
	padding-bottom: 6px;
	background: #ececec;
	letter-spacing: -.5px;
	font-size: 1.4em;
	color: #464032;
	border-bottom: 1px solid #efefef;
}

ul.accordian-menu, ul.accordian-menu ul
{
	list-style-type: none;
	padding: 0;
	width: 100%;
}

ul.accordian-menu a
{
	display: block;
	text-decoration: none;
	padding-left: 0.4em;
}

ul.accordian-menu li
{
	border-right: 4px solid #4f4f4f;
	margin: 1px 0;
}

ul.accordian-menu li a
{
	background: #ccc;
	color: #fff;
	padding:0.6em;
	padding-left: 30px;
	margin: 1px 0;
}

ul.accordian-menu li a:hover
{
	background: #657077;
}

ul.accordian-menu li ul li
{
	border-right: none;
}

ul.accordian-menu li ul li a
{
	background: #e2e2e2;
	color: #fff;
	padding-left: 40px;
}

ul.accordian-menu li ul li a:hover
{
	background: #aaa;
	border-left: 5px #000 solid;
}
